.main-nav {
  background-image: url("/img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #1d2631;
}

a {
  text-decoration: none;
}

.site-list {
  font-family: "Open Sans", serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  list-style: none;
}

.site-list a {
  color: #ffffff;
}

.main-nav__lotery {
  color: #ffffff;
  font-family: "Open Sans", serif;
  font-size: 24px;
  font-weight: 300;
}

.page-form__slogan {
  color: #ffffff;
  font-family: "Open Sans", serif;
  font-size: 24px;
  font-weight: 300;
}

.page-index__slogan {
  color: #ffffff;
  font-family: "Open Sans", serif;
  font-size: 24px;
  font-weight: 300;
}

.page-photo__slogan {
  color: #ffffff;
  font-family: "Open Sans", serif;
  font-size: 24px;
  font-weight: 300;
}
