.redactor__button {
  color: #d22856;
  font-family: "Open Sans", serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

.redactor__button--passive {
  font-family: "Open Sans", serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #283645;
  opacity: 0.1;
}
