.page-main__form__task {
  font-family: "Open Sans", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.main-serif {
  color: #283645;
  font-family: "Open Sans", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

li {
  list-style: none;
}

.title {
  color: #d22856;
  font-family: "Open Sans", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.main-form__required {
  color: #283645;
  font-family: "Open Sans", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.main-form__pink {
  color: #d22856;
}

.main-form__button {
  color: #ffffff;
  font-family: "Open Sans", serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #2aab6d;
  border: 2px solid #2aab6d;
}
